{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block main %}
<form action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id ="user_input">
        <p id="in"></p>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password">
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" placeholder="Password Again" type="password">
    </div>
    <button class="btn btn-primary" type="submit" id="maButton">Resgiter</button>
</form>

<script>
 let input = document.querySelector('input');
            input.onkeyup = function() {
                $.get('/check?username=' + input.value, function(data) {
                    if(data == true){
                        document.querySelector('#in').innerHTML = "Looks Good";
                        document.querySelector("#maButton").disabled = false;
                         document.querySelector('#in').style.color="green";
                    }
                    else{

                        document.querySelector('#in').innerHTML = "Username is taken";
                        document.querySelector("#maButton").disabled = true;
                        document.querySelector('#in').style.color="red";
                    }

                });

        };
</script>
{% endblock %}
